.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   background-color:white;
   border-color:deeppink;
   border-width:11px;
   border-style:ridge;
}

